In [1]:
import pandas as pd
import numpy as np

# Creating csv file

In [5]:
import csv
with open('players.csv','w',newline='')as file:
    fieldnames=['player_name','Rating']
    writer=csv.DictWriter(file,fieldnames=fieldnames)
    writer.writeheader()
    writer.writerow({'player_name':'Zulkifel Ahmd','Rating':'30000'})
    writer.writerow({'player_name':'Qasim','Rating':'30000'})
    writer.writerow({'player_name':'Shahir','Rating':'50000'})
    writer.writerow({'player_name':'Arosh','Rating':'40000'})

In [7]:
pd.read_csv('players.csv')

     player_name  Rating
0  Zulkifel Ahmd   30000
1          Qasim   30000
2         Shahir   50000
3          Arosh   40000

In [8]:
pd.read_csv('players.csv',sep=',')

     player_name  Rating
0  Zulkifel Ahmd   30000
1          Qasim   30000
2         Shahir   50000
3          Arosh   40000

In [12]:
pd.read_csv('example1.csv',header=None)

    0    1   2   3   4   5      6   7
0   1    2   3   4   5   6  hello NaN
1   7    8   9  10  11  12  world NaN
2  13  114  15  16  17  18    foo NaN

In [30]:
pd.read_csv('example1.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [32]:
pd.read_csv('example1.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [34]:
names=['a', 'b', 'c', 'd', 'message']
pd.read_csv('example1.csv', names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [37]:
pd.read_csv('example2_mindex.csv',index_col=['key1','key2'])

           val1  val2
key1 key2
one  a        1     2
     b        3     4
     c        5     6
     d        7     8
two  a        9    10
     b       11    12
     c       13    14
     d       15    16

In [5]:
data=pd.read_table('example_txt.txt',sep='\s+')
data

             A         B           C
'aaa -0.264438 -1.026059  -0.619500'
'bbb  0.927272  0.302904  -0.032399'
'ccc -0.264273 -0.386314  -0.217601'
'ddd -0.871858 -0.348382   1.100491'

In [ ]:
# you can skip the first, third, and fourth rows of a file with skiprows :

In [53]:
pd.read_csv('example4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [58]:
#Handling missing Values
result=pd.read_csv('example5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [60]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [63]:
result=pd.read_csv('example5.csv',na_values=['Null'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [65]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
result=pd.read_csv('example5.csv',na_values=sentinels)
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

# Writing Data to Text Format

In [81]:
result.to_csv('example55',sep='|')
!cat example55

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1||5|6||8|world
2|three|9|10|11.0|12|

In [79]:
import sys
result.to_csv(sys.stdout,sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1||5|6||8|world
2|three|9|10|11.0|12|

In [83]:
result.to_csv(sys.stdout,na_rep='Null')

,something,a,b,c,d,message
0,one,1,2,3.0,4,Null
1,Null,5,6,Null,8,world
2,three,9,10,11.0,12,Null

In [84]:
# With no other options specified, both the row and column labels are written.
result.to_csv(sys.stdout,header=False,index=False)

one,1,2,3.0,4,
,5,6,,8,world
three,9,10,11.0,12,

In [87]:
result.to_csv(sys.stdout,index=False,columns=['a','b','c','d'])

a,b,c,d
1,2,3.0,4
5,6,,8
9,10,11.0,12

In [4]:
dates=pd.date_range('1/1/2016',periods=12)
ts = pd.DataFrame(np.arange(12), index=dates)
ts.to_csv('examplesTseries')
! cat examplesTseries

,0
2016-01-01,0
2016-01-02,1
2016-01-03,2
2016-01-04,3
2016-01-05,4
2016-01-06,5
2016-01-07,6
2016-01-08,7
2016-01-09,8
2016-01-10,9
2016-01-11,10
2016-01-12,11

# Working with Delimited Formats

In [11]:
!cat example7.csv
"a","b","c"
"1","2","3"
"1","2","3"

"a","b","c"
"1","2","3"
"1","2","3"

('1', '2', '3')

In [27]:
import csv
f=open('example7.csv')
reader=csv.reader(f)
for lines in reader:
    print(lines)

In [42]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ','
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
with open('mydata.csv','w')as f:
    
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))
pd.read_csv('mydata.csv')

   one  two  three
0    1    2      3
1    4    5      6
2    7    8      9

# JSON DATA

In [44]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""
obj

'\n{"name": "Wes",\n"places_lived": ["United States", "Spain", "Germany"],\n"pet": null,\n"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},\n{"name": "Katie", "age": 38,\n"pets": ["Sixes", "Stache", "Cisco"]}]\n}\n'

In [46]:
import json 
results=json.loads(obj)
obj

'\n{"name": "Wes",\n"places_lived": ["United States", "Spain", "Germany"],\n"pet": null,\n"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},\n{"name": "Katie", "age": 38,\n"pets": ["Sixes", "Stache", "Cisco"]}]\n}\n'

In [48]:
#json.dumps , on the other hand, converts a Python object back to JSON:
asjson=json.dumps(results)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [63]:
siblings=pd.DataFrame(results['siblings'],columns=['age','name','pets'])
siblings

   age   name                    pets
0   30  Scott            [Zeus, Zuko]
1   38  Katie  [Sixes, Stache, Cisco]

In [67]:
data=pd.read_json('example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [69]:
#for exporting data to json
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

# XML and HTML: Web Scraping
<font color='green'></font>

In [223]:
from bs4 import BeautifulSoup
import requests

source=requests.get('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/').text
soup=BeautifulSoup(source,"lxml")
tab_data=soup.find('table')

In [224]:
bank_data=tab_data.find('span',class_='dtfullname').text
print(summary)

Bank Name

In [225]:
#table = soup.find("table")
rows = tab_data.find_all("tr")

table_contents = []   # store your table here
for tr in rows:
    if rows.index(tr) == 0 : 
        row_cells = [ th.getText().strip() for th in tr.find_all('th') if th.getText().strip() != '' ]  
    else : 
        row_cells = ([ tr.find('th').getText() ] if tr.find('th') else [] ) + [ td.getText().strip() for td in tr.find_all('td') if td.getText().strip() != '' ] 
    if len(row_cells) > 1 : 
        table_contents += [ row_cells ]
print(table_contents)

[['Bank NameBank', 'CityCity', 'StateSt', 'CertCert', 'Acquiring InstitutionAI', 'Closing DateClosing', 'FundFund'], ['Almena State Bank', 'Almena', 'KS', '15426', 'Equity Bank', 'October 23, 2020', '10538'], ['First City Bank of Florida', 'Fort Walton Beach', 'FL', '16748', 'United Fidelity Bank, fsb', 'October 16, 2020', '10537'], ['The First State Bank', 'Barboursville', 'WV', '14361', 'MVB Bank, Inc.', 'April 3, 2020', '10536'], ['Ericson State Bank', 'Ericson', 'NE', '18265', 'Farmers and Merchants Bank', 'February 14, 2020', '10535'], ['City National Bank of New Jersey', 'Newark', 'NJ', '21111', 'Industrial Bank', 'November 1, 2019', '10534'], ['Resolute Bank', 'Maumee', 'OH', '58317', 'Buckeye State Bank', 'October 25, 2019', '10533'], ['Louisa Community Bank', 'Louisa', 'KY', '58112', 'Kentucky Farmers Bank Corporation', 'October 25, 2019', '10532'], ['The Enloe State Bank', 'Cooper', 'TX', '10716', 'Legend Bank, N. A.', 'May 31, 2019', '10531'], ['Washington Federal Bank for Savings', 'Chicago', 'IL', '30570', 'Royal Savings Bank', 'December 15, 2017', '10530'], ['The Farmers and Merchants State Bank of Argonia', 'Argonia', 'KS', '17719', 'Conway Bank', 'October 13, 2017', '10529'], ['Fayette County Bank', 'Saint Elmo', 'IL', '1802', 'United Fidelity Bank, fsb', 'May 26, 2017', '10528'], ['Guaranty Bank, (d/b/a BestBank in Georgia & Michigan)', 'Milwaukee', 'WI', '30003', 'First-Citizens Bank & Trust Company', 'May 5, 2017', '10527'], ['First NBC Bank', 'New Orleans', 'LA', '58302', 'Whitney Bank', 'April 28, 2017', '10526'], ['Proficio Bank', 'Cottonwood Heights', 'UT', '35495', 'Cache Valley Bank', 'March 3, 2017', '10525'], ['Seaway Bank and Trust Company', 'Chicago', 'IL', '19328', 'State Bank of Texas', 'January 27, 2017', '10524'], ['Harvest Community Bank', 'Pennsville', 'NJ', '34951', 'First-Citizens Bank & Trust Company', 'January 13, 2017', '10523'], ['Allied Bank', 'Mulberry', 'AR', '91', "Today's Bank", 'September 23, 2016', '10522'], ['The Woodbury Banking Company', 'Woodbury', 'GA', '11297', 'United Bank', 'August 19, 2016', '10521'], ['First CornerStone Bank', 'King of Prussia', 'PA', '35312', 'First-Citizens Bank & Trust Company', 'May 6, 2016', '10520'], ['Trust Company Bank', 'Memphis', 'TN', '9956', 'The Bank of Fayette County', 'April 29, 2016', '10519'], ['North Milwaukee State Bank', 'Milwaukee', 'WI', '20364', 'First-Citizens Bank & Trust Company', 'March 11, 2016', '10518'], ['Hometown National Bank', 'Longview', 'WA', '35156', 'Twin City Bank', 'October 2, 2015', '10517'], ['The Bank of Georgia', 'Peachtree City', 'GA', '35259', 'Fidelity Bank', 'October 2, 2015', '10516'], ['Premier Bank', 'Denver', 'CO', '34112', 'United Fidelity Bank, fsb', 'July 10, 2015', '10515'], ['Edgebrook Bank', 'Chicago', 'IL', '57772', 'Republic Bank of Chicago', 'May 8, 2015', '10514'], ['Doral Bank\n\nEn EspaÃ±ol', 'San Juan', 'PR', '32102', 'Banco Popular de Puerto Rico', 'February 27, 2015', '10513'], ['Capitol City Bank & Trust Company', 'Atlanta', 'GA', '33938', 'First-Citizens Bank & Trust Company', 'February 13, 2015', '10512'], ['Highland Community Bank', 'Chicago', 'IL', '20290', 'United Fidelity Bank, fsb', 'January 23, 2015', '10511'], ['First National Bank of Crestview', 'Crestview', 'FL', '17557', 'First NBC Bank', 'January 16, 2015', '10510'], ['Northern Star Bank', 'Mankato', 'MN', '34983', 'BankVista', 'December 19, 2014', '10509'], ['Frontier Bank, FSB D/B/A El Paseo Bank', 'Palm Desert', 'CA', '34738', 'Bank of Southern California, N.A.', 'November 7, 2014', '10508'], ['The National Republic Bank of Chicago', 'Chicago', 'IL', '916', 'State Bank of Texas', 'October 24, 2014', '10507'], ['NBRS Financial', 'Rising Sun', 'MD', '4862', 'Howard Bank', 'October 17, 2014', '10506'], ['GreenChoice Bank, fsb', 'Chicago', 'IL', '28462', 'Providence Bank, LLC', 'July 25, 2014', '10505'], ['Eastside Commercial Bank', 'Conyers', 'GA', '58125', 'Community & Southern Bank', 'July 18, 2014', '10504'], ['The Freedom State Bank', 'Freedom', 'OK', '12483', 'Alva State Bank & Trust Company', 'June 27, 2014', '10503'], ['Valley Bank', 'Fort Lauderdale', 'FL', '21793', 'Landmark Bank, National Association', 'June 20, 2014', '10501'], ['Valley Bank', 'Moline', 'IL', '10450', 'Great Southern Bank', 'June 20, 2014', '10502'], ['Slavie Federal Savings Bank', 'Bel Air', 'MD', '32368', 'Bay Bank, FSB', 'May 30, 2014', '10500'], ['Columbia Savings Bank', 'Cincinnati', 'OH', '32284', 'United Fidelity Bank, fsb', 'May 23, 2014', '10499'], ['AztecAmerica Bank\n\nEn EspaÃ±ol', 'Berwyn', 'IL', '57866', 'Republic Bank of Chicago', 'May 16, 2014', '10498'], ['Allendale County Bank', 'Fairfax', 'SC', '15062', 'Palmetto State Bank', 'April 25, 2014', '10497'], ['Vantage Point Bank', 'Horsham', 'PA', '58531', 'First Choice Bank', 'February 28, 2014', '10496'], ['Millennium Bank, National Association', 'Sterling', 'VA', '35096', 'WashingtonFirst Bank', 'February 28, 2014', '10495'], ['Syringa Bank', 'Boise', 'ID', '34296', 'Sunwest Bank', 'January 31, 2014', '10494'], ['The Bank of Union', 'El Reno', 'OK', '17967', 'BancFirst', 'January 24, 2014', '10493'], ['DuPage National Bank', 'West Chicago', 'IL', '5732', 'Republic Bank of Chicago', 'January 17, 2014', '10492'], ['Texas Community Bank, National Association', 'The Woodlands', 'TX', '57431', 'Spirit of Texas Bank, SSB', 'December 13, 2013', '10491'], ['Bank of Jackson County', 'Graceville', 'FL', '14794', 'First Federal Bank of Florida', 'October 30, 2013', '10490'], ['First National Bank also operating as The National Bank of El Paso\n\nEn EspaÃ±ol', 'Edinburg', 'TX', '14318', 'PlainsCapital Bank', 'September 13, 2013', '10488'], ["The Community's Bank", 'Bridgeport', 'CT', '57041', 'No Acquirer', 'September 13, 2013', '10489'], ['Sunrise Bank of Arizona', 'Phoenix', 'AZ', '34707', 'First Fidelity Bank, National Association', 'August 23, 2013', '10487'], ['Community South Bank', 'Parsons', 'TN', '19849', 'CB&S Bank, Inc.', 'August 23, 2013', '10486'], ['Bank of Wausau', 'Wausau', 'WI', '35016', 'Nicolet National Bank', 'August 9, 2013', '10485'], ['First Community Bank of Southwest Florida (also operating as Community Bank of Cape Coral)', 'Fort Myers', 'FL', '34943', 'C1 Bank', 'August 2, 2013', '10484'], ['Mountain National Bank', 'Sevierville', 'TN', '34789', 'First Tennessee Bank, National Association', 'June 7, 2013', '10483'], ['1st Commerce Bank', 'North Las Vegas', 'NV', '58358', 'Plaza Bank', 'June 6, 2013', '10482'], ['Banks of Wisconsin d/b/a Bank of Kenosha', 'Kenosha', 'WI', '35386', 'North Shore Bank, FSB', 'May 31, 2013', '10478'], ['Central Arizona Bank', 'Scottsdale', 'AZ', '34527', 'Western State Bank', 'May 14, 2013', '10479'], ['Sunrise Bank', 'Valdosta', 'GA', '58185', 'Synovus Bank', 'May 10, 2013', '10481'], ['Pisgah Community Bank', 'Asheville', 'NC', '58701', 'Capital Bank, N.A.', 'May 10, 2013', '10480'], ['Douglas County Bank', 'Douglasville', 'GA', '21649', 'Hamilton State Bank', 'April 26, 2013', '10476'], ['Parkway Bank', 'Lenoir', 'NC', '57158', 'CertusBank, National Association', 'April 26, 2013', '10477'], ['Chipola Community Bank', 'Marianna', 'FL', '58034', 'First Federal Bank of Florida', 'April 19, 2013', '10473'], ['Heritage Bank of North Florida', 'Orange Park', 'FL', '26680', 'FirstAtlantic Bank', 'April 19, 2013', '10475'], ['First Federal Bank', 'Lexington', 'KY', '29594', 'Your Community Bank', 'April 19, 2013', '10474'], ['Gold Canyon Bank', 'Gold Canyon', 'AZ', '58066', 'First Scottsdale Bank, National Association', 'April 5, 2013', '10472'], ['Frontier Bank', 'LaGrange', 'GA', '16431', 'HeritageBank of the South', 'March 8, 2013', '10471'], ['Covenant Bank', 'Chicago', 'IL', '22476', 'Liberty Bank and Trust Company', 'February 15, 2013', '10470'], ['1st Regents Bank', 'Andover', 'MN', '57157', 'First Minnesota Bank', 'January 18, 2013', '10469'], ['Westside Community Bank', 'University Place', 'WA', '33997', 'Sunwest Bank', 'January 11, 2013', '10468'], ['Community Bank of the Ozarks', 'Sunrise Beach', 'MO', '27331', 'Bank of Sullivan', 'December 14, 2012', '10467'], ['Hometown Community Bank', 'Braselton', 'GA', '57928', 'CertusBank, National Association', 'November 16, 2012', '10466'], ['Citizens First National Bank', 'Princeton', 'IL', '3731', 'Heartland Bank and Trust Company', 'November 2, 2012', '10464'], ['Heritage Bank of Florida', 'Lutz', 'FL', '35009', 'Centennial Bank', 'November 2, 2012', '10465'], ['NOVA Bank', 'Berwyn', 'PA', '27148', 'No Acquirer', 'October 26, 2012', '10463'], ['Excel Bank', 'Sedalia', 'MO', '19189', 'Simmons First National Bank', 'October 19, 2012', '10460'], ['First East Side Savings Bank', 'Tamarac', 'FL', '28144', 'Stearns Bank N.A.', 'October 19, 2012', '10461'], ['GulfSouth Private Bank', 'Destin', 'FL', '58073', 'SmartBank', 'October 19, 2012', '10462'], ['First United Bank', 'Crete', 'IL', '20685', 'Old Plank Trail Community Bank, National Association', 'September 28, 2012', '10459'], ['Truman Bank', 'St. Louis', 'MO', '27316', 'Simmons First National Bank', 'September 14, 2012', '10458'], ['First Commercial Bank', 'Bloomington', 'MN', '35246', 'Republic Bank & Trust Company', 'September 7, 2012', '10457'], ['Waukegan Savings Bank', 'Waukegan', 'IL', '28243', 'First Midwest Bank', 'August 3, 2012', '10456'], ['Jasper Banking Company', 'Jasper', 'GA', '16240', 'Stearns Bank N.A.', 'July 27, 2012', '10455'], ['Second Federal Savings and Loan Association of Chicago', 'Chicago', 'IL', '27986', 'Hinsdale Bank & Trust Company', 'July 20, 2012', '10453'], ['Heartland Bank', 'Leawood', 'KS', '1361', 'Metcalf Bank', 'July 20, 2012', '10452'], ['First Cherokee State Bank', 'Woodstock', 'GA', '32711', 'Community & Southern Bank', 'July 20, 2012', '10450'], ['Georgia Trust Bank', 'Buford', 'GA', '57847', 'Community & Southern Bank', 'July 20, 2012', '10451'], ['The Royal Palm Bank of Florida', 'Naples', 'FL', '57096', 'First National Bank of the Gulf Coast', 'July 20, 2012', '10454'], ['Glasgow Savings Bank', 'Glasgow', 'MO', '1056', 'Regional Missouri Bank', 'July 13, 2012', '10449'], ['Montgomery Bank & Trust', 'Ailey', 'GA', '19498', 'Ameris Bank', 'July 6, 2012', '10448'], ['The Farmers Bank of Lynchburg', 'Lynchburg', 'TN', '1690', 'Clayton Bank and Trust', 'June 15, 2012', '10447'], ['Security Exchange Bank', 'Marietta', 'GA', '35299', 'Fidelity Bank', 'June 15, 2012', '10446'], ['Putnam State Bank', 'Palatka', 'FL', '27405', 'Harbor Community Bank', 'June 15, 2012', '10445'], ['Waccamaw Bank', 'Whiteville', 'NC', '34515', 'First Community Bank', 'June 8, 2012', '10444'], ["Farmers' and Traders' State Bank", 'Shabbona', 'IL', '9257', 'First State Bank', 'June 8, 2012', '10442'], ['Carolina Federal Savings Bank', 'Charleston', 'SC', '35372', 'Bank of North Carolina', 'June 8, 2012', '10441'], ['First Capital Bank', 'Kingfisher', 'OK', '416', 'F & M Bank', 'June 8, 2012', '10443'], ['Alabama Trust Bank, National Association', 'Sylacauga', 'AL', '35224', 'Southern States Bank', 'May 18, 2012', '10440'], ['Security Bank, National Association', 'North Lauderdale', 'FL', '23156', 'Banesco USA', 'May 4, 2012', '10439'], ['Palm Desert National Bank', 'Palm Desert', 'CA', '23632', 'Pacific Premier Bank', 'April 27, 2012', '10437'], ['Plantation Federal Bank', 'Pawleys Island', 'SC', '32503', 'First Federal Bank', 'April 27, 2012', '10438'], ['Inter Savings Bank, fsb D/B/A InterBank, fsb', 'Maple Grove', 'MN', '31495', 'Great Southern Bank', 'April 27, 2012', '10436'], ['HarVest Bank of Maryland', 'Gaithersburg', 'MD', '57766', 'Sonabank', 'April 27, 2012', '10435'], ['Bank of the Eastern Shore', 'Cambridge', 'MD', '26759', 'No Acquirer', 'April 27, 2012', '10434'], ['Fort Lee Federal Savings Bank, FSB', 'Fort Lee', 'NJ', '35527', 'Alma Bank', 'April 20, 2012', '10433'], ['Fidelity Bank', 'Dearborn', 'MI', '33883', 'The Huntington National Bank', 'March 30, 2012', '10432'], ['Premier Bank', 'Wilmette', 'IL', '35419', 'International Bank of Chicago', 'March 23, 2012', '10431'], ['Covenant Bank & Trust', 'Rock Spring', 'GA', '58068', 'Stearns Bank, N.A.', 'March 23, 2012', '10430'], ['New City Bank', 'Chicago', 'IL', '57597', 'No Acquirer', 'March 9, 2012', '10429'], ['Global Commerce Bank', 'Doraville', 'GA', '34046', 'Metro City Bank', 'March 2, 2012', '10428'], ['Home Savings of America', 'Little Falls', 'MN', '29178', 'No Acquirer', 'February 24, 2012', '10427'], ['Central Bank of Georgia', 'Ellaville', 'GA', '5687', 'Ameris Bank', 'February 24, 2012', '10426'], ['SCB Bank', 'Shelbyville', 'IN', '29761', 'First Merchants Bank, National Association', 'February 10, 2012', '10425'], ['Charter National Bank and Trust', 'Hoffman Estates', 'IL', '23187', 'Barrington Bank & Trust Company, National Association', 'February 10, 2012', '10424'], ['BankEast', 'Knoxville', 'TN', '19869', 'U.S. Bank, N.A.', 'January 27, 2012', '10420'], ['Patriot Bank Minnesota', 'Forest Lake', 'MN', '34823', 'First Resource Bank', 'January 27, 2012', '10422'], ['Tennessee Commerce Bank', 'Franklin', 'TN', '35296', 'Republic Bank & Trust Company', 'January 27, 2012', '10423'], ['First Guaranty Bank and Trust Company of Jacksonville', 'Jacksonville', 'FL', '16579', 'CenterState Bank of Florida, N.A.', 'January 27, 2012', '10421'], ['American Eagle Savings Bank', 'Boothwyn', 'PA', '31581', 'Capital Bank, N.A.', 'January 20, 2012', '10417'], ['The First State Bank', 'Stockbridge', 'GA', '19252', 'Hamilton State Bank', 'January 20, 2012', '10419'], ['Central Florida State Bank', 'Belleview', 'FL', '57186', 'CenterState Bank of Florida, N.A.', 'January 20, 2012', '10418'], ['Western National Bank', 'Phoenix', 'AZ', '57917', 'Washington Federal', 'December 16, 2011', '10416'], ['Premier Community Bank of the Emerald Coast', 'Crestview', 'FL', '58343', 'Summit Bank', 'December 16, 2011', '10415'], ['Central Progressive Bank', 'Lacombe', 'LA', '19657', 'First NBC Bank', 'November 18, 2011', '10413'], ['Polk County Bank', 'Johnston', 'IA', '14194', 'Grinnell State Bank', 'November 18, 2011', '10414'], ['Community Bank of Rockmart', 'Rockmart', 'GA', '57860', 'Century Bank of Georgia', 'November 10, 2011', '10412'], ['SunFirst Bank', 'Saint George', 'UT', '57087', 'Cache Valley Bank', 'November 4, 2011', '10411'], ['Mid City Bank, Inc.', 'Omaha', 'NE', '19397', 'Premier Bank', 'November 4, 2011', '10410'], ['All American Bank', 'Des Plaines', 'IL', '57759', 'International Bank of Chicago', 'October 28, 2011', '10409'], ['Community Banks of Colorado', 'Greenwood Village', 'CO', '21132', 'Bank Midwest, N.A.', 'October 21, 2011', '10405'], ['Community Capital Bank', 'Jonesboro', 'GA', '57036', 'State Bank and Trust Company', 'October 21, 2011', '10406'], ['Decatur First Bank', 'Decatur', 'GA', '34392', 'Fidelity Bank', 'October 21, 2011', '10407'], ['Old Harbor Bank', 'Clearwater', 'FL', '57537', '1st United Bank', 'October 21, 2011', '10408'], ['Country Bank', 'Aledo', 'IL', '35395', 'Blackhawk Bank & Trust', 'October 14, 2011', '10402'], ['First State Bank', 'Cranford', 'NJ', '58046', 'Northfield Bank', 'October 14, 2011', '10403'], ['Blue Ridge Savings Bank, Inc.', 'Asheville', 'NC', '32347', 'Bank of North Carolina', 'October 14, 2011', '10401'], ['Piedmont Community Bank', 'Gray', 'GA', '57256', 'State Bank and Trust Company', 'October 14, 2011', '10404'], ['Sun Security Bank', 'Ellington', 'MO', '20115', 'Great Southern Bank', 'October 7, 2011', '10400'], ['The RiverBank', 'Wyoming', 'MN', '10216', 'Central Bank', 'October 7, 2011', '10399'], ['First International Bank', 'Plano', 'TX', '33513', 'American First National Bank', 'September 30, 2011', '10398'], ['Citizens Bank of Northern California', 'Nevada City', 'CA', '33983', 'Tri Counties Bank', 'September 23, 2011', '10397'], ['Bank of the Commonwealth', 'Norfolk', 'VA', '20408', 'Southern Bank and Trust Company', 'September 23, 2011', '10396'], ['The First National Bank of Florida', 'Milton', 'FL', '25155', 'CharterBank', 'September 9, 2011', '10395'], ['CreekSide Bank', 'Woodstock', 'GA', '58226', 'Georgia Commerce Bank', 'September 2, 2011', '10393'], ['Patriot Bank of Georgia', 'Cumming', 'GA', '58273', 'Georgia Commerce Bank', 'September 2, 2011', '10394'], ['First Choice Bank', 'Geneva', 'IL', '57212', 'Inland Bank & Trust', 'August 19, 2011', '10390'], ['First Southern National Bank', 'Statesboro', 'GA', '57239', 'Heritage Bank of the South', 'August 19, 2011', '10391'], ['Lydian Private Bank', 'Palm Beach', 'FL', '35356', 'Sabadell United Bank, N.A.', 'August 19, 2011', '10392'], ['Public Savings Bank', 'Huntingdon Valley', 'PA', '34130', 'Capital Bank, N.A.', 'August 18, 2011', '10389'], ['The First National Bank of Olathe', 'Olathe', 'KS', '4744', 'Enterprise Bank & Trust', 'August 12, 2011', '10388'], ['Bank of Whitman', 'Colfax', 'WA', '22528', 'Columbia State Bank', 'August 5, 2011', '10387'], ['Bank of Shorewood', 'Shorewood', 'IL', '22637', 'Heartland Bank and Trust Company', 'August 5, 2011', '10386'], ['Integra Bank National Association', 'Evansville', 'IN', '4392', 'Old National Bank', 'July 29, 2011', '10384'], ['BankMeridian, N.A.', 'Columbia', 'SC', '58222', 'SCBT National Association', 'July 29, 2011', '10383'], ['Virginia Business Bank', 'Richmond', 'VA', '58283', 'Xenith Bank', 'July 29, 2011', '10385'], ['Bank of Choice', 'Greeley', 'CO', '2994', 'Bank Midwest, N.A.', 'July 22, 2011', '10380'], ['LandMark Bank of Florida', 'Sarasota', 'FL', '35244', 'American Momentum Bank', 'July 22, 2011', '10381'], ['Southshore Community Bank', 'Apollo Beach', 'FL', '58056', 'American Momentum Bank', 'July 22, 2011', '10382'], ['Summit Bank', 'Prescott', 'AZ', '57442', 'The Foothills Bank', 'July 15, 2011', '10379'], ['First Peoples Bank', 'Port St. Lucie', 'FL', '34870', 'Premier American Bank, N.A.', 'July 15, 2011', '10376'], ['High Trust Bank', 'Stockbridge', 'GA', '19554', 'Ameris Bank', 'July 15, 2011', '10377'], ['One Georgia Bank', 'Atlanta', 'GA', '58238', 'Ameris Bank', 'July 15, 2011', '10378'], ['Signature Bank', 'Windsor', 'CO', '57835', 'Points West Community Bank', 'July 8, 2011', '10375'], ['Colorado Capital Bank', 'Castle Rock', 'CO', '34522', 'First-Citizens Bank & Trust Company', 'July 8, 2011', '10373'], ['First Chicago Bank & Trust', 'Chicago', 'IL', '27935', 'Northbrook Bank & Trust Company', 'July 8, 2011', '10374'], ['Mountain Heritage Bank', 'Clayton', 'GA', '57593', 'First American Bank and Trust Company', 'June 24, 2011', '10372'], ['First Commercial Bank of Tampa Bay', 'Tampa', 'FL', '27583', 'Stonegate Bank', 'June 17, 2011', '10370'], ['McIntosh State Bank', 'Jackson', 'GA', '19237', 'Hamilton State Bank', 'June 17, 2011', '10371'], ['Atlantic Bank and Trust', 'Charleston', 'SC', '58420', 'First Citizens Bank and Trust Company, Inc.', 'June 3, 2011', '10369'], ['First Heritage Bank', 'Snohomish', 'WA', '23626', 'Columbia State Bank', 'May 27, 2011', '10368'], ['Summit Bank', 'Burlington', 'WA', '513', 'Columbia State Bank', 'May 20, 2011', '10367'], ['First Georgia Banking Company', 'Franklin', 'GA', '57647', 'CertusBank, National Association', 'May 20, 2011', '10366'], ['Atlantic Southern Bank', 'Macon', 'GA', '57213', 'CertusBank, National Association', 'May 20, 2011', '10365'], ['Coastal Bank', 'Cocoa Beach', 'FL', '34898', 'Florida Community Bank, a division of Premier American Bank, N.A.', 'May 6, 2011', '10364'], ['Community Central Bank', 'Mount Clemens', 'MI', '34234', 'Talmer Bank & Trust', 'April 29, 2011', '10359'], ['The Park Avenue Bank', 'Valdosta', 'GA', '19797', 'Bank of the Ozarks', 'April 29, 2011', '10363'], ['First Choice Community Bank', 'Dallas', 'GA', '58539', 'Bank of the Ozarks', 'April 29, 2011', '10361'], ['Cortez Community Bank', 'Brooksville', 'FL', '57625', 'Florida Community Bank, a division of Premier American Bank, N.A.', 'April 29, 2011', '10360'], ['First National Bank of Central Florida', 'Winter Park', 'FL', '26297', 'Florida Community Bank, a division of Premier American Bank, N.A.', 'April 29, 2011', '

In [234]:
df=pd.DataFrame(table_contents,columns=['Bank Name', 'City', 'State', 'Cert', 'Acquiring Institution', 'Closing Date', 'Fund'])
failures=df.drop([0])

In [235]:
failures.head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
1,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
2,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
3,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
4,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
5,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534

In [237]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps

1     2020-10-23
2     2020-10-16
3     2020-04-03
4     2020-02-14
5     2019-11-01
         ...
559   2001-07-27
560   2001-05-03
561   2001-02-02
562   2000-12-14
563   2000-10-13
Name: Closing Date, Length: 563, dtype: datetime64[ns]

In [238]:
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2017      8
2015      8
2016      5
2004      4
2001      4
2020      4
2019      4
2003      3
2007      3
2000      2
Name: Closing Date, dtype: int64

# Parsing XML with lxml.objectify

In [243]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()
#You can now access any of the fields (like href ) in the tag or the link text: root

root.get('href')
'http://www.google.com'
root.text
'Google'

'Google'

# Binary Data Formats
One of the easiest ways to store data (also known as serialization) efficiently in binary
format is using Python’s built-in pickle serialization.
pandas objects all have a to_pickle method that 
writes the data to disk in pickle format:

In [3]:
frame=pd.read_csv('example1.csv')
frame

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [4]:
frame.to_pickle('frame_pickle')

In [7]:
pd.read_pickle('frame_pickle')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

# Working with HDF5 format

In [18]:
frame=pd.DataFrame({'a':np.random.randn(100)})
store=pd.HDFStore('mydata.h5')
store['obj1']=frame
store['obj1_col']=frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [19]:
store['obj1']

           a
0  -0.815875
1   1.070075
2  -0.839654
3  -0.010582
4  -1.740682
..       ...
95 -0.601065
96 -2.685588
97  0.733920
98 -1.744513
99 -0.531641

[100 rows x 1 columns]

In [20]:
store.put('obj2',frame,format='table')
store.select('obj2',where=['index >=5 and index <=10'])
#store.close()

           a
5   0.021444
6  -0.850456
7   1.960769
8  -1.732928
9   0.246720
10 -0.054046

In [21]:
frame.to_hdf('mydata.h5', 'obj3', format='table')

In [32]:
store['obj3']

           a
0  -0.815875
1   1.070075
2  -0.839654
3  -0.010582
4  -1.740682
..       ...
95 -0.601065
96 -2.685588
97  0.733920
98 -1.744513
99 -0.531641

[100 rows x 1 columns]

# Interacting with Web APIs

In [36]:
import requests
url='https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [38]:
data=resp.json()
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46291',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46291/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46291/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46291/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/46291',
  'id': 1163494319,
  'node_id': 'I_kwDOAA0YD85FWYOv',
  'number': 46291,
  'title': 'ENH: Convert a string column of times (hour:min) to datetime without date',
  'user': {'login': 'Hadi2525',
   'id': 23264077,
   'node_id': 'MDQ6VXNlcjIzMjY0MDc3',
   'avatar_url': 'https://avatars.githubusercontent.com/u/23264077?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/Hadi2525',
   'html_url': 'https://github.com/Hadi2525',
   'followers_url': 'https://api.github.com/users/Hadi2525/followers',
   'following_url': 'https://api.github.com/users/Hadi2525/following{/other_user}',
   'gists_url': 'https://api.github.com/users/Hadi2525/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/Hadi2525/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/Hadi2525/subscriptions',
   'organizations_url': 'https://api.github.com/users/Hadi2525/orgs',
   'repos_url': 'https://api.github.com/users/Hadi2525/repos',
   'events_url': 'https://api.github.com/users/Hadi2525/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/Hadi2525/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-09T05:03:38Z',
  'updated_at': '2022-03-09T05:03:38Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': "I have the following `df`:\r\n\r\n```\r\nimport pandas as pd\r\ndf = pd.DataFrame(['12:53','13:00','13:11','14:45'],columns = 'Time')\r\ndf = pd.to_datetime(df, format = '%H:%M')\r\n```\r\nThe output is:\r\n```\r\n>>> df\r\nTime:\r\n1900-01-01 12:53:00\r\n1900-01-01 13:00:00\r\n1900-01-01 13:11:00\r\n1900-01-01 14:45:00\r\n```\r\n\r\nIs there a way to remove dates from rows in `df`? Perhaps, a method or attribute be added like `date = None`?\r\n\r\n",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46291/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46291/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46290',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46290/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46290/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46290/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46290',
  'id': 1163411318,
  'node_id': 'PR_kwDOAA0YD840JR_d',
  'number': 46290,
  'title': 'Backport PR #46274 on branch 1.4.x (CI/TST: numpy 1.22.3 release fixes)',
  'user': {'login': 'meeseeksmachine',
   'id': 39504233,
   'node_id': 'MDQ6VXNlcjM5NTA0MjMz',
   'avatar_url': 'https://avatars.githubusercontent.com/u/39504233?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/meeseeksmachine',
   'html_url': 'https://github.com/meeseeksmachine',
   'followers_url': 'https://api.github.com/users/meeseeksmachine/followers',
   'following_url': 'https://api.github.com/users/meeseeksmachine/following{/other_user}',
   'gists_url': 'https://api.github.com/users/meeseeksmachine/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/meeseeksmachine/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/meeseeksmachine/subscriptions',
   'organizations_url': 'https://api.github.com/users/meeseeksmachine/orgs',
   'repos_url': 'https://api.github.com/users/meeseeksmachine/repos',
   'events_url': 'https://api.github.com/users/meeseeksmachine/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/meeseeksmachine/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 127685,
    'node_id': 'MDU6TGFiZWwxMjc2ODU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing',
    'name': 'Testing',
    'color': 'C4A000',
    'default': False,
    'description': 'pandas testing functions or related to the test suite'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/94',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/94',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/94/labels',
   'id': 7667127,
   'node_id': 'MI_kwDOAA0YD84AdP23',
   'number': 94,
   'title': '1.4.2',
   'description': 'on-merge: backport to 1.4.x',
   'creator': {'login': 'simonjayhawkins',
    'id': 13159005,
    'node_id': 'MDQ6VXNlcjEzMTU5MDA1',
    'avatar_url': 'https://avatars.githubusercontent.com/u/13159005?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/simonjayhawkins',
    'html_url': 'https://github.com/simonjayhawkins',
    'followers_url': 'https://api.github.com/users/simonjayhawkins/followers',
    'following_url': 'https://api.github.com/users/simonjayhawkins/following{/other_user}',
    'gists_url': 'https://api.github.com/users/simonjayhawkins/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/simonjayhawkins/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/simonjayhawkins/subscriptions',
    'organizations_url': 'https://api.github.com/users/simonjayhawkins/orgs',
    'repos_url': 'https://api.github.com/users/simonjayhawkins/repos',
    'events_url': 'https://api.github.com/users/simonjayhawkins/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/simonjayhawkins/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 11,
   'closed_issues': 44,
   'state': 'open',
   'created_at': '2022-02-11T09:43:27Z',
   'updated_at': '2022-03-09T02:18:23Z',
   'due_on': '2022-03-05T08:00:00Z',
   'closed_at': None},
  'comments': 0,
  'created_at': '2022-03-09T02:18:22Z',
  'updated_at': '2022-03-09T02:18:23Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46290',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46290',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46290.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46290.patch',
   'merged_at': None},
  'body': 'Backport PR #46274: CI/TST: numpy 1.22.3 release fixes',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46290/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46290/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46289',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46289/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46289/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46289/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/46289',
  'id': 1163397224,
  'node_id': 'I_kwDOAA0YD85FWAho',
  'number': 46289,
  'title': 'BUG: bug appears when plotting dataframe with `styles` argument',
  'user': {'login': 'Freakwill',
   'id': 30965609,
   'node_id': 'MDQ6VXNlcjMwOTY1NjA5',
   'avatar_url': 'https://avatars.githubusercontent.com/u/30965609?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/Freakwill',
   'html_url': 'https://github.com/Freakwill',
   'followers_url': 'https://api.github.com/users/Freakwill/followers',
   'following_url': 'https://api.github.com/users/Freakwill/following{/other_user}',
   'gists_url': 'https://api.github.com/users/Freakwill/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/Freakwill/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/Freakwill/subscriptions',
   'organizations_url': 'https://api.github.com/users/Freakwill/orgs',
   'repos_url': 'https://api.github.com/users/Freakwill/repos',
   'events_url': 'https://api.github.com/users/Freakwill/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/Freakwill/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-09T01:49:49Z',
  'updated_at': '2022-03-09T01:50:23Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': "### Pandas version checks\n\n- [X] I have checked that this issue has not already been reported.\n\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [ ] I have confirmed this bug exists on the main branch of pandas.\n\n\n### Reproducible Example\n\n```python\nimport pandas as pd\r\ndata = pd.DataFrame(np.random.random(2,10), columns=('A','B'))\r\ndata.plot(styles=('--','-.'))\n```\n\n\n### Issue Description\n\nWhen plotting dataframe with styles `data.plot(styles=('--','-.'))`, the yticks disappear. the styles are marked on the y-axis as tick labels.\n\n### Expected Behavior\n\n`data.plot(styles=('--','-.'))` should draw the line with the given styles.\n\n### Installed Versions\n\n<details>\r\n\r\nThe latest version\r\n\r\n</details>\r\n",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46289/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46289/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46288',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46288/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46288/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46288/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46288',
  'id': 1163387980,
  'node_id': 'PR_kwDOAA0YD840JNW2',
  'number': 46288,
  'title': "PERF: MultiIndex.values for MI's with DatetimeIndex, TimedeltaIndex, or ExtensionDtype levels",
  'user': {'login': 'lukemanley',
   'id': 8519523,
   'node_id': 'MDQ6VXNlcjg1MTk1MjM=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8519523?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/lukemanley',
   'html_url': 'https://github.com/lukemanley',
   'followers_url': 'https://api.github.com/users/lukemanley/followers',
   'following_url': 'https://api.github.com/users/lukemanley/following{/other_user}',
   'gists_url': 'https://api.github.com/users/lukemanley/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/lukemanley/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/lukemanley/subscriptions',
   'organizations_url': 'https://api.github.com/users/lukemanley/orgs',
   'repos_url': 'https://api.github.com/users/lukemanley/repos',
   'events_url': 'https://api.github.com/users/lukemanley/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/lukemanley/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 8935311,
    'node_id': 'MDU6TGFiZWw4OTM1MzEx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance',
    'name': 'Performance',
    'color': 'a10c02',
    'default': False,
    'description': 'Memory or execution speed performance'},
   {'id': 71268330,
    'node_id': 'MDU6TGFiZWw3MTI2ODMzMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/MultiIndex',
    'name': 'MultiIndex',
    'color': '207de5',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-09T01:31:35Z',
  'updated_at': '2022-03-09T03:01:14Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46288',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46288',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46288.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46288.patch',
   'merged_at': None},
  'body': '- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [x] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [x] Added an entry in the latest `doc/source/whatsnew/v1.5.0.rst` file if fixing a bug or adding a new feature.\r\n\r\n\r\nThe change is to do the boxing of these types on the distinct level values and then call `.take` rather than calling `.take` and then having to box a potentially much larger array.\r\n\r\nThe impact is most pronounced when there is a large difference between the number of rows in the index and the number of unique values (e.g. dates) in a given level of the index. \r\n\r\n```\r\nimport pandas as pd\r\nimport numpy as np\r\n\r\nmi = pd.MultiIndex.from_product(\r\n    [ \r\n        pd.array(np.arange(10000), dtype="Int64"),\r\n        pd.date_range(\'2000-01-01\', periods=1000),\r\n    ]\r\n)\r\n\r\n%timeit mi.copy().values\r\n\r\n6.63 s ± 212 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)   <- main\r\n775 ms ± 6.99 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)  <- PR\r\n```\r\n\r\n\r\nExisting asvs:\r\n\r\n```\r\n$ asv continuous -f 1.1 upstream/main multiindex-values -b multiindex_object\r\n\r\n       before           after         ratio\r\n     <main>           <multiindex-values>\r\n-        32.0±2ms       28.6±0.3ms     0.89  multiindex_object.Duplicated.time_duplicated\r\n-         215±3ms          151±5ms     0.70  multiindex_object.SetOperations.time_operation(\'non_monotonic\', \'datetime\', \'intersection\')\r\n-       347±0.8ms          226±3ms     0.65  multiindex_object.SetOperations.time_operation(\'monotonic\', \'datetime\', \'intersection\')\r\n-         323±3ms          208±2ms     0.64  multiindex_object.SetOperations.time_operation(\'monotonic\', \'datetime\', \'union\')\r\n-         326±5ms          207±5ms     0.64  multiindex_object.SetOperations.time_operation(\'non_monotonic\', \'datetime\', \'union\')\r\n-         139±1ms         32.4±2ms     0.23  multiindex_object.SetOperations.time_operation(\'monotonic\', \'datetime\', \'symmetric_difference\')\r\n-         140±2ms       32.3±0.8ms     0.23  multiindex_object.SetOperations.time_operation(\'non_monotonic\', \'datetime\', \'symmetric_difference\')\r\n-        65.6±3ms       8.79±0.2ms     0.13  multiindex_object.Values.time_datetime_level_values_copy\r\n```',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46288/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46288/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46287',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46287/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46287/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46287/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46287',
  'id': 1163329444,
  'node_id': 'PR_kwDOAA0YD840JBIp',
  'number': 46287,
  'title': 'CLN: address xfails',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-08T23:47:18Z',
  'updated_at': '2022-03-09T02:33:09Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46287',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46287',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46287.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46287.patch',
   'merged_at': None},

In [39]:
data[0]['title']

'ENH: Convert a string column of times (hour:min) to datetime without date'

In [42]:
issues = pd.DataFrame(data, columns=['number', 'title','labels', 'state'])
issues

,number,title,labels,state
0,46291,ENH: Convert a string column of times (hour:mi...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
1,46290,Backport PR #46274 on branch 1.4.x (CI/TST: nu...,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
2,46289,BUG: bug appears when plotting dataframe with ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,46288,PERF: MultiIndex.values for MI's with Datetime...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
4,46287,CLN: address xfails,[],open
5,46286,ENH: Add support for multiple conditions assig...,[],open
6,46285,ENH: Add support for multiple conditions assig...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
7,46284,TYP: annotation of __init__ return type (PEP 4...,[],open
8,46283,TYP: annotation of __init__ return type (PEP 4...,[],open
9,46282,BUG: MaskedArray._quantile match non-nullable ...,[],open
10,46281,BUG: join does not always honor the `rsuffix` ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
11,46280,TYP: annotation of __init__ return type (PEP 4...,[],open
12,46279,TYP: annotation of __init__ return type (PEP 4...,[],open
13,46278,TYP: annotation of __init__ return type (PEP 4...,[],open
14,46277,BLD: Upload sdist artifact from CI,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
15,46276,TYP: annotation of __init__ return type (PEP 4...,[],open
16,46273,TYP: expand acceptable types for pd.to_datetime(),[],open
17,46272,Correctly pass colLabels and rowLabels for plo...,[],open
18,46271,BLD: drop `options.package_data` from setup.cfg,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
19,46270,BLD: Remove `options.package_data` from setup.cfg,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
20,46269,"ENH: to_clipboard(as=""html"" | ""markdown"" | ""la...","[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
21,46268,BUG: Unexpected jupyter notebook behavior when...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
22,46267,PERF: performance regression in assigning valu...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
23,46266,REF: simplify reindexing in _align_series(),[],open
24,46265,BUG: fix rolling with centering and axis=1 (#4...,[],open
25,46264,BUG: read_query ignores the DB API column type...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,46262,TYP: add type annotation to DataFrame.to_pickle,[],open
27,46261,TST: merge high_memory mark with single_cpu,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
28,46260,CI: Add missing dependencies for skipped tests,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
29,46259,REF: use standard patterns in tslibs,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open

# Interacting with database
Loading data from SQL into a DataFrame is fairly straightforward, and pandas has
some functions to simplify the process. As an example, I’ll create a SQLite database
using Python’s built-in sqlite3 driver:

In [73]:
import sqlite3
query="""CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);
"""

In [74]:
con=sqlite3.connect('mydata.sqlite')

In [76]:
con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

In [89]:
data=[('Chitral(l)','kpk',234,4),
     ('Chitral (u)','kpk',123,3),
     ('Dir (u)', 'kpk',567, 3),
     ('Dir (l)', 'kpk', 334,2),
     ('Sawat','kpk',556,1)]

In [90]:
stmt="INSERT INTO test VALUES(?,?,?,?)"

In [91]:
con.executemany(stmt, data)

In [92]:
con.commit()

In [93]:
cursor = con.execute('select * from test')

In [94]:
rows=cursor.fetchall()
rows

[('Chitral l', 'kpk', 234.0, 4),
 ('Chitral u', 'kpk', 123.0, 3),
 ('Dir u', 'kpk', 567.0, 3),
 ('Dir l', 'kpk', 334.0, 2),
 ('Sawat', 'kpk', 556.0, 1),
 ('Chitral(l)', 'kpk', 234.0, 4),
 ('Chitral (u)', 'kpk', 123.0, 3),
 ('Dir (u)', 'kpk', 567.0, 3),
 ('Dir (l)', 'kpk', 334.0, 2),
 ('Sawat', 'kpk', 556.0, 1)]

In [95]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [96]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a    b      c  d
0    Chitral l  kpk  234.0  4
1    Chitral u  kpk  123.0  3
2        Dir u  kpk  567.0  3
3        Dir l  kpk  334.0  2
4        Sawat  kpk  556.0  1
5   Chitral(l)  kpk  234.0  4
6  Chitral (u)  kpk  123.0  3
7      Dir (u)  kpk  567.0  3
8      Dir (l)  kpk  334.0  2
9        Sawat  kpk  556.0  1